.App {
  position:relative;
}
.App-header-nav {
  line-height: 50px;
  padding-left: calc(25px + 0.5em);
}
.App-header-logo {
  position: absolute;
  top:0;
  left:0;
  width:50px;
  height:50px;
  margin: 0 1em;
}

.App-header-logo > img {
  display:inline-block;
  width:100%;
  height: 100%;
  margin:0;
  padding:0;
}